@Charset "UTF-8";

body {
    width: 960px;
    margin: auto;
    background-color: rgb(1, 155, 252);
}

.fototopo {
    width: 860px;
    height: 200px;
}

.menu-topo{
    width: 814px;
    margin-left: 50px;
}

.menu-topo ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 2px;
    background-color: rgba(255, 255, 72, 0.94);
    margin-left: -50px;
}

.menu-topo li {
    display: inline-block;
}

.menu-topo a {
    padding: 15px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}



.paragrafo1 {
    text-align: justify;
    float: left;
    width: 700px;
    margin-top: -15px;

}

.titulo1 {
    clear: both;
    margin-top: 30px;
}

.foto1 {
    float: right;
    width: 120px;
    height: 100px;
    margin-top: -60px;
    margin-right: 100px;
}

.titulo2 {
    clear: both;
    margin-left: 137px;
}

.foto2 {
    float: left;
    width: 120px;
    height: 100px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.paragrafo2 {
    width: 700px;
    float: right;
    margin-right: 120px;
    margin-top: -20px;

}

.titulo3 {
    clear: both;
    margin-left: 360px;
}

.paragrafo3 {
    width: 500px;
    margin-left: 180px;
    text-align: justify;
}

footer {
    clear: both;
    margin-top: 40px;
    background-color: rgba(255, 255, 72, 0.94);
    width: 860px;
    height: 130px;
}

.titulo4{
    margin-left: 20px;
    margin-top: -10px;
}
.menu-footer{
    float: left;
    margin-top: -20px;
}
.menu-footer ul {
    list-style: none;
}


.menu-footer ul li {
    margin-left: -20px;
    padding: 1px;
}

.titulo5 {
    margin-left: 380px;
    margin-top: -40px;
}

.redes{
 display: inline;
 margin-left: 210px;
}

.redes img{
    width: 60px;
    margin-left: 10px;
}




small {
    margin-left: 550px;
}

/*----------------------- FIM CSS PAGINA HOME ---------------*/

/*----------------------- INCIO CSS PAGINA PERSONAGENS ---------------*/

.fotopersonagem{
    float: right;
    width: 120px;
    height: 100px;
    margin-top: -30px;
    margin-right: 100px;
}


/*---------------------------INICIO CSS PAGINA CURIOSIDADES-----------*/

.meio{
    width: 380px;
    float: left;
    text-align: justify;
    
}
.lado{
    width: 400px;
    float:right;
    margin-right: 100px;
    text-align: justify;

}
/*-----------------------------------FIM CSS PAGINA CURIOSIDADES-------------------------------------------*/

/*----------------------COMEÇO CSS PAGINA HISTORIA---------------------------*/

.paragrafo6{
    text-align:justify;
    float: left;
    width: 800px;
    margin-top: -15px;
    margin-left: 30px;  
}

.parte6{
    
    margin-left: 345px;
}